*{
	margin:0;
	padding: 0;
}
.abody{
	width: 850px;
	height: 660px;
	margin-left: 250px;
}
.title{
	width: 850px;
	height: 60px;
	line-height: 60px;
	border:1px solid #4F95B3;
	background-color: #4F95B3;
}
.title h1{
	text-align: center;

}
.content{
	float: left;
	width: 850px;
	height: 565px;
}
.left{
	float: left;
	width: 285px;
	height: 565px;
	border:1px solid #4F95B3;
}
.right{	
	float: left;
	width: 561px;
	height: 565px;
	border:1px solid #4F95B3;
	background-color: #CCCCCC;
	font-size: 12px
}
.ibottom{
	width: 850px;
	height: 33px;
	line-height: 33px;
	border:1px solid #4F95B3;
	margin-top: 565px;
	background-color: #4F95B3;
}
.ibuttom p{
	font-size: 20px;
}
.left_top{
	width:285px ;
	height: 195px;
	border:1px solid #4F95B3;
	background-color: #CCCCCC;
}
.left_top h3{
	color: white;
	text-align: center;
	font-family: 楷体;
	margin-top: 5px;
}
.left_bottom{
	width:285px ;
	height: 367px;
	border:1px solid #4F95B3;
	background: url("bmlct.gif") no-repeat #CCCCCC;

}
.top_bg{
	width: 275px;
	height: 185px;
	border:1px solid #4F95B3;
	margin:3px;
	border-radius: 15px;
	background-color: #1384DE;
}
.table{
	margin-left: 35px;
}
#b{
	margin-left: 45px;
}
a{
        color:#000;
        text-decoration: none;
        font-size: 14px;
        background: #d4d0c8;
        height: 24px;
        line-height: 24px;
        width: 35px;
        display: block;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #fff;
        float: left;
        margin-left: 40px;
        }
